<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Exito¡ - Creación de miembro de la familia</title>
</head>
<body>
    <h1>¡Felicidades! Has creado un nuevo miembro de la familia</h1>
    <hr>
    <h2>Su información es:</h2>
    <hr>
    <p>Nombre: {{member.name}}</p>
    <p>Nombre: {{member.last_name}}</p>
    <p>Nombre: {{member.age}}</p>
    <p>Nombre: {{member.relationship}}</p>
    <hr>
</body>
</html>